{% extends 'base.html' %}
{% block pagetitle %}{{ block.super }} - Kasa Ayarlar {% endblock %}
{% block body  %}
<div class="container-fluid">
	<div class="w-box">
		<div class="w-box-header">
			<div align="Center">
				<span>Kasa Ayarlar Tablosu</span>
			</div>
		</div>
		<div class="w-box-content">
			<table id="test" class="table table-bordered" style="overflow: auto;width: 100%;height: 100%;">
				<tbody>
					<tr>
						<th style="width: 30%;">Lütfen&nbsp;Kasa&nbsp;Seçiniz</th>
						<td style="width: 70%;">
							<select id="kasaKodu" class="form-control">
								<option value="" selected="">Seçiniz</option>
								{% for kasa in kasalar %}
									<option value="{{kasa.KasaKodu}}">{{ kasa.KasaAdi }}</option>
								{% endfor %}
							</select>
						</td>
					</tr>
					<tr>
						<th style="width: 30%;">Tahsilat&nbsp;Makbuzu&nbsp;Açılış&nbsp;Numarası</th>
						<td style="width: 70%;">
							<input type="text" id="tahsilatMakbuzu" class="form-control">
						</td>
					</tr>
					<tr>
						<th>Tediye&nbsp;Makbuzu&nbsp;Açılış&nbsp;Numarası</th>
						<td>
							<input type="text" id="tediyeMakbuzu" class="form-control">
						</td>
					</tr>
					<tr>
						<th></th>
						<td>
							<button class="btn btn-success fa fa-save" style="width: 100%;" onclick="Kaydet();" title="Kaydet"></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>	
	</div>
</div>
<script type="text/javascript">
function Kaydet(){
	if($("#kasaKodu").val() != ""){
		$.ajax({
	        type: "post",
	        url: "",
	        data: {
	        	"ajaxKasaKodu" : $("#kasaKodu").val(),
	        	"ajaxTahMakNo" : $("#tahsilatMakbuzu").val(),
	        	"ajaxTedMakNo" : $("#tediyeMakbuzu").val(),
	        csrfmiddlewaretoken: "{{ csrf_token }}"
	        },
	        dataType: "json",
	        success: function(Veri){
	        	location = "/kasa/giris-cikis";
	        }, 
	        error: function(Hata){
	            alert("Hata !");
	        }
	    });
	}else{alert("Lütfen Kasa Seçimi Yapınız !")};
};
$("#kasaKodu").change(function(){
	if($(this).val() != ""){
		$.ajax({
	        type: "post",
	        url: "",
	        data: {
	        	"ajaxKasaSecimi" : $("#kasaKodu").val(),
	        csrfmiddlewaretoken: "{{ csrf_token }}"
	        },
	        dataType: "json",
	        success: function(Veri){
	        	$("#tahsilatMakbuzu").val(Veri.ajaxKasaTahDek);
	        	$("#tediyeMakbuzu").val(Veri.ajaxKasaTedDek);
	        }, 
	        error: function(Hata){
	            alert("Hata !");
	        }
	    });
	};
});
</script>
{% endblock %}
