{% extends 'base.html' %}
{% block pagetitle %}{{ block.super }} - Anasayfa {% endblock %}
{% block body  %}
<div class="container-fluid">
	<div class="w-box">
		<div class="row">
			<div class="col-md-4" style="margin-top: 0.5%;">
				<div class="w-box-header">
					Duyurular
				</div>
				<div class="w-box-content" style="height: 150px;overflow: auto;">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th colspan="2">Başlık</th>
							</tr>
						</thead>
						<tbody>
							{% for duyurular in sqlDuyurular  %}
							<tr>
								<td>
									<a>
										<label id="duyuruBaslik" key="0" data="{{ duyurular.DuyuruKodu }}" class="duyuruBaslik">{{ duyurular.Baslik }}</label>
									</a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
			    </div>
			    <div class="w-box-content" style="height: 200px;overflow: auto;">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>İçerik</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td id="duyuruIcerik"></td>
							</tr>
						</tbody>
					</table>
			    </div>
			</div>
			<div class="col-md-4" style="margin-top: 0.5%;">
				<div class="w-box-header">
					Görevler
				</div>
				<div class="w-box-content" style="height: 150px;overflow: auto;">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th colspan="2">Başlık</th>
							</tr>
						</thead>
						<tbody>
							{% for gorevler in sqlGorevler  %}
							<tr>
								<td style="width: 75%;">
									<a>
									<label id="gorevBaslik" key="0" data="{{ gorevler.GorevKodu }}" class="gorevBaslik">{{ gorevler.Baslik }}</label>
									</a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="w-box-content" style="height: 200px;overflow: auto;">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>İçerik</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td id="gorevIcerik"></td>
							</tr>
						</tbody>
					</table>
			    </div>
			</div>
			<div class="col-md-4" style="margin-top: 0.5%;">
				<div class="w-box-header">
					Hatırlatmalar
				</div>
				<div class="w-box-content" style="height: 150px;overflow: auto;">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th colspan="2">Başlık</th>
							</tr>
						</thead>
						<tbody>
							{% for hatirlatmalar in sqlHatirlatmalar  %}
							<tr>
								<td style="width: 75%;">
								<a>
									<label id="hatirlatmaBaslik" key="0" data="{{ hatirlatmalar.HatirlatmaKodu }}" class="hatirlatmaBaslik">{{ hatirlatmalar.Baslik }}</label>
								</a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="w-box-content" style="height: 200px;overflow: auto;">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>İçerik</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td id="hatirlatmaIcerik"></td>
							</tr>
						</tbody>
					</table>
			    </div>
			</div>
		</div>
	</div>    
</div>
<script type="text/javascript">
$(".duyuruBaslik").click(function(){
	$(".duyuruBaslik").attr("key","0");
	$(this).attr("key","1");
	$(".duyuruBaslik").attr("id","duyuruBaslik");
	$(this).attr("id","duyuruBaslik1");
	AjaxVeri();
});
$(".gorevBaslik").click(function(){
	$(".gorevBaslik").attr("key","0");
	$(this).attr("key","1");
	$(".gorevBaslik").attr("id","gorevBaslik");
	$(this).attr("id","gorevBaslik1");
	AjaxVeri();
});
$(".hatirlatmaBaslik").click(function(){
	$(".hatirlatmaBaslik").attr("key","0");
	$(this).attr("key","1");
	$(".hatirlatmaBaslik").attr("id","hatirlatmaBaslik");
	$(this).attr("id","hatirlatmaBaslik1");
	AjaxVeri();
});
function AjaxVeri(){
	$.ajax({
        type: "post",
        url: "",
        data: {
        	"ajaxDuyuruKey"      : $("#duyuruBaslik1").attr("key"),
        	"ajaxDuyuruKodu"     : $("#duyuruBaslik1").attr("data"),
        	"ajaxGorevKey"       : $("#gorevBaslik1").attr("key"),
        	"ajaxGorevKodu"      : $("#gorevBaslik1").attr("data"),
        	"ajaxHatirlatmaKey"  : $("#hatirlatmaBaslik1").attr("key"),
        	"ajaxHatirlatmaKodu" : $("#hatirlatmaBaslik1").attr("data"),
        csrfmiddlewaretoken: "{{ csrf_token }}"
        },
        dataType: "json",
        success: function(Veri){
        	$("#duyuruIcerik").html(Veri.ajaxDuyuru);
        	$("#gorevIcerik").html(Veri.ajaxGorev);
        	$("#hatirlatmaIcerik").html(Veri.ajaxHatirlatma);
        },
        error: function(hata){
            alert(hata);
        }
    });
};
</script>
{% endblock %}