{% extends 'base.html' %}
{% block pagetitle %}{{ block.super }} - Senet Listesi {% endblock %}
{% block body  %}
<div id="divListe" class="container-fluid">
	<div class="w-box">
		<div>
			<input type="button" id="senetler" value="Verilen Senetler" class="btn btn-primary">
		</div>
		<div class="w-box-header">
			<div align="Center">
				<span id="header">Alınan Senetler Listesi Ekranı</span>
			</div>
		</div>
		<div class="w-box-content" id="alinanSenetlerTablo" style="overflow: auto;width: 100%;height: 100%;">
			<table class="table table-bordered" id="datatable">
				<thead>
					<tr>
						<th>Senet No</th>
						<th>Borçlusu</th>
						<th>Senet Vadesi</th>
						<th>Senet Tutari</th>
						<th>İşlem</th>
					</tr>
				</thead>
				<tbody align="Center">
				{% for alinanSenetler in sqlAlinanSenetler %}
					<tr id="{{ alinanSenetler.id }}">
						<td>{{ alinanSenetler.SenetNo }}</td>
						<td>{{ alinanSenetler.CariKodu }}</td>
						<td>{{ alinanSenetler.Vade }}</td>
						<td>{{ alinanSenetler.Tutar }}</td>
						<td>
							{% if islemlerKontrol.IsSenetDetay == True %}
							<button class="btn btn-info fa fa-search" onclick="Detay('{{ alinanSenetler.id }}');" title="Detay"></button>
							{% endif %}
							{% if islemlerKontrol.IsSenetIptalEt == True %}
							<button class="btn btn-danger fa fa-close" onclick="IptalEt('{{ alinanSenetler.id }}');" title="İptal Et"></button>
							{% endif %}
							{% if islemlerKontrol.IsSenetIslemler == True %}
								{% if alinanSenetler.IsTransferCache == False and alinanSenetler.Tipi == "1" %} 
								<button id="islemler" key="{{ alinanSenetler.SenetNo }}" key2="{{ alinanSenetler.Tipi }}" class="btn btn-primary fa fa-th-list" onclick="Islemler();" title="İşlemler"></button>
								{% endif %}
							{% endif %}
						</td>
					</tr>
				{% endfor %}	
				</tbody>
			</table>
		</div>
		<div class="w-box-content" id="verilenSenetlerTablo" style="display: none; overflow: auto;width: 100%;height: 100%;">
			<table class="table table-bordered" id="datatable2">
				<thead>
					<tr>
						<th>Senet No</th>
						<th>Alacaklısı</th>
						<th>Senet Vadesi</th>
						<th>Senet Tutari</th>
						<th>İşlem</th>
					</tr>
				</thead>
				<tbody align="Center">
				{% for verilenSenetler in sqlVerilenSenetler %}
					<tr id="{{ verilenSenetler.id }}">
						<td>{{ verilenSenetler.SenetNo }}</td>
						<td>{{ verilenSenetler.CariKodu }}</td>
						<td>{{ verilenSenetler.Vade }}</td>
						<td>{{ verilenSenetler.Tutar }}</td>
						<td>
							{% if islemlerKontrol.IsSenetDetay == True %}
							<button class="btn btn-info fa fa-search" onclick="Detay('{{ verilenSenetler.id }}');" title="Detay"></button>
							{% endif %}
							{% if islemlerKontrol.IsSenetIptalEt == True %}
							<button class="btn btn-danger fa fa-close" onclick="IptalEt('{{ verilenSenetler.id }}');" title="İptal Et"></button>
							{% endif %}
						</td>
					</tr>
				{% endfor %}	
				</tbody>
			</table>
		</div>
	</div>
</div>
<div id="divDetay" class="container-fluid" style="display: none;">
	<div class="w-box" style="margin-top: 1%; margin-bottom: 1%;">
		<div align="left">
			<button class="btn btn-warning fa fa-long-arrow-left" style="margin-bottom:5px; width: 25%;" onclick="Geri();"></button>
		</div>
		<div class="w-box-header">
			<div align="Center"><span>Senetler Detay Ekranı</span></div>
		</div>
		<div class="w-box-content">
			<table class="table table-bordered">
                <tbody>
					<tr>
						<th style="width: 25%;">Bordro No</th>
						<td id="bordroNo" style="width: 75%;"></td>
					</tr>
					<tr>	
						<th>Bordro Tarihi</th>
						<td id="bordroTarihi"></td>
					</tr>
					<tr>	
						<th>Senet No</th>
						<td id="senetNo"></td>
					</tr>
					<tr>	
						<th>Tipi</th>
						<td id="tipi"></td>
					</tr>
					<tr>	
						<th>Durum</th>
						<td id="durum"></td>
					</tr>
					<tr>	
						<th>Vade</th>
						<td id="vade"></td>
					</tr>
					<tr>	
						<th>Tutar</th>
						<td id="tutar"></td>
					</tr>
					<tr>	
						<th>Döviz</th>
						<td id="doviz"></td>
					</tr>
					<tr>	
						<th>Cari Ünvani</th>
						<td id="cariKodu"></td>
					</tr>
					<tr>	
						<th>Ödeme Yeri</th>
						<td id="odemeYeri"></td>
					</tr>
				</tbody>
            </table>             
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="modal fade" id="myModal" tabindex="-1" style="display: none;">
		<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close closeX"><span aria-hidden="true">&times;</span></button>
	       			 <h4 align="Center" class="modal-title">İşlem Seçimi</h4>
	      		</div>
	      		<div class="modal-body" style="height: 100px;">
	      			<div align="Center">
	      				<label>Senet Çıkış İşlemi Ekranına Yönlendiriliyor ! Onaylıyor musunuz ?</label>
	      			</div>
	        		<table class="table table-bordered">
	        			<tr>
	        				<td align="left">
	        					<input type="button" value="Daha Sonra" class="btn btn-info closeX" onclick="DahaSonra()">
	        				</td>
	        				<td align="right">
	        					<input type="button" value="Onaylıyorum" class="btn btn-primary" onclick="Onaylıyorum()">
	        				</td>
	        			</tr>
	        		</table>		
	    		</div>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-default closeX">İptal</button>
		      	</div>
	    	</div>
	    </div>
	</div>
</div>
<script type="text/javascript">
$("#senetler").click(function(){
	if($(this).val() == "Verilen Senetler"){
		$("#header").html("Verilen Senetler Listesi Ekranı")
		$(this).val("Alınan Senetler");
		$("#alinanSenetlerTablo").css("display","none");
		$("#verilenSenetlerTablo").css("display","block");
	}else{
		$("#header").html("Alınan Senetler Listesi Ekranı")
		$(this).val("Verilen Senetler");
		$("#alinanSenetlerTablo").css("display","block");
		$("#verilenSenetlerTablo").css("display","none");
	};
});
function IptalEt(arguman){
	if(confirm("Senet İptal Edilsin mi ?") == true){
		$.ajax({
	        type: "post",
	        url: "",
	        data: {
	        	"ajaxBordroIptal" : arguman,
	        csrfmiddlewaretoken: "{{ csrf_token }}"
	        },
	        dataType: "json",
	        success: function(Veri){
	        	$("#"+arguman+"").fadeOut().remove();
	        },
	        error: function(hata) {
	            alert("Hata !");
	        }
	    });
	};
};
function Onaylıyorum(){
	$.ajax({
        type: "post",
        url: "",
        data: {
        	"ajaxSenetNo"   : $("#islemler").attr("key"),
        	"ajaxSenetTipi" : $("#islemler").attr("key2"),
        csrfmiddlewaretoken: "{{ csrf_token }}"
        },
        dataType: "json",
        success: function(Veri){
            location = "/ceksenet/senetbordro/";
        },
        error: function(Hata){
            alert("Hata !");
        }
    });
};	
function Detay(argument){
	$.ajax({
        type: "post",
        url: "",
        data: {
        	"ajaxDetay" : argument,
        csrfmiddlewaretoken: "{{ csrf_token }}"
        },
        dataType: "json",	        
        success: function(Veri){
        	$("#divListe").css("display","none");
        	$("#divDetay").css("display","block");
            $("#bordroNo").html(Veri.ajaxBordroNo);
            $("#bordroTarihi").html(Veri.ajaxBordroTarihi);
            $("#senetNo").html(Veri.ajaxSenetNo);
            $("#tipi").html(Veri.ajaxTipi);
            $("#durum").html(Veri.ajaxDurum);
            $("#vade").html(Veri.ajaxVade);
            $("#tutar").html(Veri.ajaxTutar);
            $("#doviz").html(Veri.ajaxDoviz);
            $("#cariKodu").html(Veri.ajaxCariKodu);
            $("#odemeYeri").html(Veri.ajaxOdemeYeri);
        },
        error: function(Hata){
            alert("Hata !");
        }
    });
};
function Geri(){
	$("#divDetay").css("display","none");
	$("#divListe").css("display","block");
};
function Islemler(){
	$("#myModal").css("display","block");
	$("#myModal").attr("class","modal fade in");
};
$(".closeX").click(function(){
	$("#myModal").css("display","none");
	$("#myModal").attr("class","modal fade");
});
</script>
{% endblock %}